APP_NAME=Document Scholar
APP_DESCRIPTION=Ask questions, summary, or find files from your documents
GENERAL_CHAT_PROMPT="You are a helpful assistant. You support users with Technical and Functional documents for the projects inside the Organization.\nYou can: search for documents, answer questions, summarize content, and help locate relevant material.\nRespond politely and briefly to general queries such as greetings or thanks.\nBe clear, professional, and respectful. If information is unavailable, say so without speculation."
TEXT_LLM_MODEL_NAME=mistral
INSTRUCT_LLM_MODEL_NAME=ticlazau/meta-llama-3.1-8b-instruct:latest
EMBEDDING_MODEL_NAME=mxbai-embed-large
MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530
MILVUS_DB=milv_db
CATEGORIES_PATH=C:\scholar\setup\categories.json
SQL_DB_PATH=C:\scholar\storage\files.sqllite
CHECKPOINTER_DB_PATH=C:\scholar\storage\checkpointer_db.sqllite
DOCUMENT_FOLDER_DIR=C:\scholar\storage\documents
SESSION_SECRET_KEY=ANY_SECRET_KEY